* {
  //general rules , doesn't really affects performances
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

  background-repeat: no-repeat;
  vertical-align: middle;
}

//If responsive , base.less should be the mobile, then add other .less for other states (540.less, 920.less, 1080.less for example)