# The following directives force the Content-Type
# "application/octet-stream" for all files except images.
# This prevents executing any uploaded scripts
# and forces a download dialog for non-image files:
ForceType application/octet-stream
<FilesMatch "(?i)\.(gif|jpe?g|png)$">
  ForceType none
</FilesMatch>

<Files .htaccess>
	order allow,deny
	deny from all
</Files>

php_flag engine off
Options -ExecCGI

<FilesMatch "\.(php|pl|sh|cgi)$">
	<Limit GET PUT POST>
		order deny,allow
		deny from all
	</Limit>
</FilesMatch>


# Uncomment the following lines to prevent unauthorized download of files:
#AuthName "Authorization required"
#AuthType Basic
#require valid-user
